extends layout

block content
  .row 
    .col-md-8.mx-auto 
      br
      h1 Faculty
    .col-sm-4.mx-auto 
      br
      a(href="/add", class="btn btn-primary" style="float:right") Add New Faculty
  br
  table.table.table-dark.table-hover
    thead.thead-dark
      tr
        th Name 
        th Gender 
        th Email
        th Address 
        th Age
        th Phone
        th Course Code
        th Actions
    tbody 
      each faculty in faculties 
        tr 
          td=faculty.name 
          td=faculty.gender 
          td=faculty.email
          td='Country :'+faculty.address.country+', City : '+faculty.address.city+', Street # '+faculty.address.street
          td=faculty.age
          td
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" style ="color:white" data-toggle="dropdown">Phone Numbers
                </button>
                  <ul class="dropdown-menu">
                    each phone in faculty.phone 
                      li #{phone}
                  </ul>
              </div>
          td=faculty.course_code
          td.mx-auto
            a(href="/delete/"+faculty._id,class="btn btn-danger" class="p-2 m-1") Delete
            a(href="/edit/"+faculty._id,class="btn btn-info" class="p-2 m-1") Update
